.example-full-width {
  width: 40%;
  height: 68px;
  margin-right: 10px;
  border-radius: 10px;
}

.btn-search {
  height: 45px;
  width: 100px;
  color: aliceblue !important;
 // margin-right: 10px;
  //border-radius: 10px;
  background-color: cornflowerblue;
}

.btn-search:hover {
  height: 45px;
  color: cornflowerblue !important;
  background-color: transparent;
  border: 1px solid cornflowerblue;
}

.icon-search{
  font-weight: bold;
  font-size: 25px !important;
}

.btn-verify{
  height: 65px;
  color: darkslateblue !important;
  margin-right: 165px;
  //border-radius: 10px;
  background-color: azure;
}

.btn-verify:hover{
  height: 65px;
  color: darkslateblue !important;
  border: 1px solid bisque;
  background-color: transparent;
}

.btn-pie-image{
  width: 50px;
  height: 50px;
}

.background-image {
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.loading-bubbles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.bubble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: cornflowerblue;
  border-radius: 50%;
  animation: bubble-animation 1s ease-in-out infinite alternate;
}

@keyframes bubble-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.bubble:nth-child(2) {
  animation-delay: 0.1s;
}

.bubble:nth-child(3) {
  animation-delay: 0.2s;
}

.bubble:nth-child(4) {
  animation-delay: 0.3s;
}
