<ng-container>

  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter URL" #urlInput (keyup.enter)="setYouTubeValues(urlInput.value)">
      </mat-form-field>

      <button mat-button class="btn-search d-flex align-items-center" color="accent"
              (click)="setYouTubeValues(urlInput.value)">
        <mat-icon class="icon-search">search</mat-icon>
      </button>


      <button mat-button class="btn-verify d-flex align-items-center" *ngIf="isButtonVisible"
              (click)="openDialog();">
        Verify Information
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <mat-progress-bar mode="buffer" style="width: 55%" *ngIf="isLoading"></mat-progress-bar>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <div #player></div>
    </div>
  </div>


</ng-container>


